:host {
    
    background-image:  url("https://df2450f0-a-62cb3a1a-s-sites.googlegroups.com/site/chimieapasursavietii/imagini/14.jpg?attachauth=ANoY7cp50hTKLQQ6rHBeZROtO85ksMPlv_3jiS8uUPxqcla2aZzYZe9afeSxUMWBVgb83eS44lzzEuqqeNvSy4hp0NXPssa8ABqCONcEQau2BSpyNHTyG_nzSekGMiCc7Rqe3C2-IAxWAmH-XmlNNdm8utmvb3L41SR5-FhD0WSf9Tvh9eOnADpLqYBijtwnEejdq1uLLfUqfXPndEfEzVEnvl_8MHparGK3jJfuWahVPn7mJDbIh8k%3D&attredirects=0");
    size: 100%;
    display: block;
}